.Blogs_hero_section {
  background-image: url("/assets/blogs/blogs_banner.jpg");
  width: 100%;
  min-height: calc(100vh - 92px);
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-blend-mode: darken;
}

.blogs_hero_title h2 {
  color: var(--primary--);
  font-weight: 600;
  line-height: 50px;
}

.blogs_hero_title h2 span {
  color: var(--secondary--);
}

.blogs_hero_txt p {
  color: var(--primary-gray--);
  font-size: 20px;
  font-weight: 500;
}

.title_lang {
  color: #9ce831 !important;
  text-shadow: 0px 0px 3px #000000;
}
