.faq_section {
  padding: 80px 0px;
}
.faq_section .title h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: var(--primary--);
  margin-bottom: 40px;
}

.faq_section .left_area {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.accordion-body {
  color: var(--primary-gray--);
}

.faq_section .left_area .accordion-item {
  border: none !important;
  background: #e9e9e9;
  border-radius: 0px;
  margin: 20px 0px;
}
.faq_section .accordion-button:not(.collapsed) {
  background: #e9e9e9;
}
.faq_section .accordion-button {
  background: #e9e9e9;
}
.faq_section .left_area .accordion-item .accordion-header {
  border: none !important;
  color: var(--primary--) !important;
}
.faq_section .left_area .accordion-item .accordion-button {
  font-size: 20px !important;
  font-weight: 500;
}
.faq_section .left_area .accordion-button:focus {
  box-shadow: none;
  background-color: transparent;
}

.faq_section .left_area .accordion-button::after {
  content: "+";
  background: none;
  font-size: 20px;
}
.faq_section .left_area .accordion-button:not(.collapsed)::after {
  content: "-";
  background: none;
  font-size: 20px;
  transform: var(--bs-accordion-btn-icon-transform);
}

.faq_section .right_area {
  margin: 20px 0px;
}
.faq_section .right_area h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary--);
  margin-bottom: 30px;
}
.faq_section .right_area .phone,
.email {
  margin-bottom: 30px;
}

.faq_section .right_area h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-gray--);
  line-height: 15px;
}
.faq_section .right_area p {
  margin: 0 !important;
  color: var(--primary-gray--);
  font-size: 15px;
  font-weight: 600;
}
