form .update_img_field .image_drop_zone {
  border: 1px dashed var(--dark-green--);
  margin-top: 5px;
}

form .update_img_field .image_drop_zone p {
  color: var(--gray-light--);
  font-size: 14px;
  font-weight: 500;
}

form .update_name_fields label,
form .update_qualification_fields label,
form .update_details_field label,
form .form-check-label,
form .show_per_page_section label,
form .coach_img_field label {
  color: var(--gray-light--);
  font-size: 16px;
  font-weight: 600;
}

form .update_name_fields input,
form .update_qualification_fields input,
form .update_details_field textarea {
  border: 1px solid var(--dark-green--);
  margin-top: 5px;
}

form .update_name_fields input::placeholder,
form .update_qualification_fields input::placeholder,
form .update_details_field textarea::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-light--);
}

form .update_coach_btn input {
  background-color: var(--primary--);
  color: #fff;
  border: 0 !important;
  outline: 0 !important;
  padding: 5px 15px;
  border-radius: 5px;
}

form .update_coach_btn input:hover {
  background-color: var(--dark-green--);
  color: #fff;
  transition: all 0.5s ease-in-out;
}

form .form-control:focus {
  box-shadow: none;
  outline: 0;
  border-color: var(--dark-green--);
}

form .form-check-input:checked {
  border-color: var(--dark-green--) !important;
  background-color: var(--primary--);
  cursor: pointer;
}

form .form-check-input:focus {
  box-shadow: none !important;
  outline: 0 !important;
  border-color: var(--dark-green--) !important;
  cursor: pointer;
}

form .form-select {
  border-color: var(--dark-green--);
  cursor: pointer;
  margin-top: 5px;
}

form .form-select:focus {
  box-shadow: none;
  outline: 0;
  border-color: var(--dark-green--);
}
