.reset_pass_container {
  background-color: var(--light-yellow--);
}

.reset_pwd_title {
  color: var(--primary--);
  font-weight: 500;
  margin-bottom: 4px;
}

.reset_back_btn a {
  color: var(--secondary--);
  font-weight: 600;
}

div#step-description-0 {
  color: var(--primary-gray--);
  font-size: 16px;
}
/* .reset_pass_container {
  padding-left: 15px !important;
  padding-right: 15px !important;
margin-right: 0 !important;
margin-left: 0 !important;
} */

@media (max-width: 767.98px) { 
  .reset_pass_container{
    width: 95% !important;
    /* padding: 15px !important; */
    margin: 0 !important;
  }
 }
 
 @media (max-width: 429.98px){
  .sm_p_none{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
 }