.calculator-form-main {
  background-color: var(--dash-bg--);
  padding: 15px 25px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.calculator-form-main .title h2 {
  color: var(--primary--);
  font-weight: 700;
  font-size: 32px;
}

form .blog_img_field .image_drop_zone {
  border: 1px dashed var(--dark-green--);
  margin-top: 5px;
}

form .blog_img_field .image_drop_zone p {
  color: var(--gray-light--);
  font-size: 14px;
  font-weight: 500;
}

form .blog_title_fields label,
form .blog_img_field label,
form .blog_description_field label,
form .blog_tags_field label {
  color: var(--gray-light--);
  font-size: 16px;
  font-weight: 600;
}

form .blog_title_fields input,
form .blog_description_field textarea,
form .blog_tags_field .tag_fields_area {
  /* border: 1px solid var(--dark-green--); */
  margin-top: 5px;
}

form .blog_title_fields input::placeholder,
form .blog_description_field textarea::placeholder,
form .rti--container input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-light--);
}

form .add_blog_btn input {
  background-color: var(--primary--);
  color: #fff;
  border: 0 !important;
  outline: 0 !important;
  padding: 5px 15px;
  border-radius: 5px;
}

form .add_blog_btn input:hover {
  background-color: var(--dark-green--);
  color: #fff;
  transition: all 0.5s ease-in-out;
}

form .form-control:focus {
  box-shadow: none;
  outline: 0;
  border-color: var(--dark-green--);
}

form .rti--container {
  margin-top: 5px;
  padding: 6px 15px;
  --rti-main: var(--dark-green--);
  border-color: var(--dark-green--);
}

form .rti--container,
form .rti--container .rti--input {
  width: 100%;
}
