.blog_hero_section {
  background-image: url("/assets/blogs/blog_banner.jpg");
  width: 100%;
  min-height: calc(100vh - 92px);
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog_hero_title h2 {
  color: var(--secondary--);
  font-weight: 600;
  line-height: 50px;
}

.blog_hero_title h2 span {
  color: var(--primary--);
}

.blog_hero_txt p {
  color: var(--primary-gray--);
  font-size: 20px;
  font-weight: 500;
}
