.blog_card_section {
  max-width: 22rem;
  cursor: pointer !important;
}

.blogCard_image {
  position: relative;
  min-height: 300px;
  width: 100%;
}

.blog_card_section .blog_img {
  width: 100%;
  height: 100%;
  max-height: 266px;
  position: relative;
}

.blog_card_section .blogCard_image img {
  display: block;
  backface-visibility: hidden;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  opacity: 1;
}

.blog_card_section .blogCard_image .overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #04aa6d;
}

.blog_card_section .blogCard_image:hover Image {
  opacity: 0.3;
}

.blog_card_section .blogCard_image:hover .overlay {
  opacity: 0.5;
}

.blog_card_section .blogCard_image .overlay span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
}

.blog_card_section .blogCard_image:hover .overlay span {
  color: white;
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}

.blogs_create_date p {
  color: var(--gray-light--);
  font-size: 16px;
  text-decoration: none !important;
}

.blog_title {
  width: 100%;
  margin-bottom: 30px;
}

.blog_title h6 {
  color: var(--primary--);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.blog_details p {
  font-size: 14px;
  color: var(--gray-light--);
  font-weight: 400;
}
.blog_details_card ul {
  display: none;
}
.pagination .prev_btn {
  margin-right: 3px !important;
}

.pagination .next_btn {
  margin-left: 3px !important;
}

.pagination .next_btn .page-link,
.pagination .prev_btn .page-link {
  border-color: var(--primary--);
  background-color: var(--primary--);
  color: #ffffff !important;
  border-radius: 5px !important;
  width: 100px !important;
  height: 38px;
}

.pagination .next_btn .page-link:hover,
.pagination .prev_btn .page-link:hover {
  border-color: var(--dark-green--);
  background-color: var(--dark-green--);
  transition: all 0.5s ease-in-out;
}

.pagination .next_btn .page-link:focus,
.pagination .prev_btn .page-link:focus,
.pagination .page-item .page-link:focus {
  box-shadow: none !important;
}

.pagination .next_btn.disabled .page-link,
.pagination .prev_btn.disabled .page-link {
  border-color: var(--primary--);
  background-color: var(--light-green--);
  color: #ffffff;
}

.pagination .page-item .page-link {
  margin: 0px 4px;
  border-radius: 50%;
  width: 35px;
  height: 38px;
  color: var(--dark-green--);
  border-color: var(--primary--);
}

.pagination .page-item.active .page-link {
  background-color: var(--dark-green--);
  color: #ffffff;
}

.search_area_blogs form {
  max-width: 600px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f7f5;
  border-radius: 5px;
}

.search_area_blogs .custom_input {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  max-width: 100%;
  padding: 0px 17px;
}

.search_area_blogs .input {
  font-size: 18px;
  padding: 5px 10px;
  flex: 1;
  width: 100%;
  padding-left: 35px;
  outline: none;
  background: transparent;
  color: #000000;
  border: none;
  transition: 0.3s ease;
}

.search_area_blogs .input::placeholder {
  color: #a49f9f;
}

.search_area_blogs .svg_icon {
  position: absolute;
  left: 26px;
  fill: gray;
  width: 18px;
  height: 18px;
}
.search_area_blogs .submit_btn {
  background: #ff4b2b;
  border: 0;
  height: 100%;
  color: #fff;
  padding: 15px 20px;
  max-width: 150px;
  width: 100%;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  font-size: 17px;
  font-weight: 600;
}

.radius_lang {
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}
